<div class="container">
    <h2><%= @venue.name.titleize %></h2>
    <br>
    <% @venue.performances.each do |p| %>
        <div><h5><%= p.company_name.titleize %> Presents: <%= link_to p.title.titleize, venue_performance_path(p.venue, p) %></h5></div>
        <ul>
            <li><%= p.start_date.strftime("%B %e") %> @ <%= p.time.strftime("%l:%M %P") %></li>
        </ul>
    <% end %>
</div>