<h1><%= @performance.title %></h1>

<% if !current_user %>
    <h2>Company: <%= link_to @performance.user.name, user_path(@performance.user) %></h2>
<% end %>

Start Date: <%= @performance.start_date.strftime("%B %e, %Y") %><br>
<% if @performance.end_date %>
    End Date:<%= @performance.end_date %><br>
<% end %>
Show Time: <%= @performance.time.strftime("%l:%M %P") %><br>
Price: $<%= @performance.ticket_price %><br>
Click to Purchase Tickets: <%= @performance.ticket_url %><br>
Company Website: <%= @performance.company_url %><br>
Show Details: <%= @performance.description %><br>
<br>
Venue Name: <%= link_to @performance.venue.name, venue_path(@performance.venue) %><br>
<%= @performance.venue.address_1 %><br>
<% if @performance.venue.address_2 %>
    <%= @performance.venue.address_2 %><br>
<% end %>
<%= @performance.venue.city %>, 
<%= @performance.venue.state %>
<%= @performance.venue.zipcode %><br>
<%= link_to @performance.venue.venue_url, "#{@performance.venue.venue_url}", target: :_blank %><br>
