<h1><%= @performance.title %></h1>

<% if !current_user %>
    <h2>Company: <%= @performance.user.name %></h2>
<% end %>

<!--Title: <%#= @performance.title %><br-->
Start Date: <%= @performance.start_date %><br>
End Date:<%= @performance.end_date %><br>
Show Time: <%= @performance.time %><br>
Price: $<%= @performance.ticket_price %><br>
Click to Purchase Tickets: <%= @performance.ticket_url %><br>
Company Website: <%= @performance.company_url %><br>
Show Details: <%= @performance.description %><br>
<br>
Venue Name: <%= @performance.venue.name %><br>
<%= @performance.venue.address_1 %><br>
<%= @performance.venue.address_2 %><br>
<%= @performance.venue.city %><br>
<%= @performance.venue.state %><br>
<%= @performance.venue.zipcode %><br>
<%= @performance.venue.venue_url %><br>