<!--h1><%#= @performance.title %></h1-->

<%# if !current_user %>
    <!--h2>Company: <%#= link_to @performance.user.name, user_path(@performance.user) %></h2-->
<%# end %>
<h2><%= @performance.user.name %> Presents: <%= @performance.title %></h2>
<%= @performance.start_date.strftime("%B %e") %>
<% if @performance.end_date %>
     - <%= @performance.end_date.strftime("%e") %>
<% end %>
@ <%= @performance.time.strftime("%l:%M %P") %>
<br>
<!--Show Time: <%#= @performance.time.strftime("%l:%M %P") %><br-->
$<%= @performance.ticket_price %><br>
Click to Purchase Tickets: <%= @performance.ticket_url %><br>
Company Website: <%= @performance.company_url %><br>
Show Details: <%= @performance.description %><br>
<br>
Venue Name: <%= link_to @performance.venue.name, venue_path(@performance.venue) %><br>
<%= @performance.venue.address_1 %><br>
<% if @performance.venue.address_2 %>
    <%= @performance.venue.address_2 %><br>
<% end %>
<%= @performance.venue.city %>, 
<%= @performance.venue.state %>
<%= @performance.venue.zipcode %><br>
<%= link_to @performance.venue.venue_url, "#{@performance.venue.venue_url}", target: :_blank %><br>
<br><br>
<% if @performance.user == current_user %>
    <%= link_to "Edit", edit_user_performance_path(current_user, @performance) %>
<% end %>