<!DOCTYPE html>
<html>
  <head>
    <title>DanceShowtime</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <!--div id="flash-container"></div-->

<!-- This flash[:error] only displays error messages if that line of code is being called in the users_controller -->
<!-- When this is commented out the error messages being called within the form are not displaying -->
  <%# if flash[:error] %> 
    <%# flash[:error].each do |error| %>
      <div><%#= error %></div>
    <%# end %>
  <%# end %>

  <body>
    <h1>Dance Showtime</h1>
    <div>
      <%= link_to "Home", root_path %> | 
      <% if !current_user %>
        <%= link_to "Signup", signup_path %> | 
        <%= link_to "Login", login_path %>
      <% else %>
        <%= link_to "Profile Page", current_user %> | 
        <%= link_to "Logout", logout_path %>
      <% end %>
    </div>
    <br>
    <div><%= flash[:message] if flash[:message] %></div>
    <br>
    <%= yield %>
  </body>
</html>
