<!DOCTYPE html>
<html>
  <head>
    <title>DanceShowtime</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%#= javascript_importmap_tags %>
  </head>
  <%= flash[:error] if flash[:error] %>
  <%# if flash[:error] %> <!-- Cannot get this to work with session flash error as there is no iteration... -->
    <%# flash[:error].each do |error| %>
      <!--div><%#= error %></div-->
    <%# end %>
  <%# end %>
  <body>
    <%= yield %>
  </body>
</html>
