<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DanceShowtime</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <br>
    <div class="container">
    <% if flash[:message] %>
    <div class="alert alert-warning" role="alert">
      <%= flash[:message] %>
    </div>
    <% end %>
    </div>
    <br>
    
      <%= yield %>
    
  </body>
</html>
